<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sections</key>
		<array>
			<string>Cabin</string>
			<string>Right Wing</string>
			<string>Empennage</string>
			<string>Left Wing</string>
			<string>Nose</string>
		</array>
		<key>Items</key>
		<array>
			<array>
				<dict>
					<key>item</key>
					<string>AROW Documents</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Maintenance Records</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Weight &amp; Balance</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Hobbs/Tach</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Control Wheel Lock</string>
					<key>action</key>
					<string>Remove</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Ignition</string>
					<key>action</key>
					<string>Verify OFF</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Avionics / Electrical Switches</string>
					<key>action</key>
					<string>OFF</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Master Switch</string>
					<key>action</key>
					<string>ON</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flaps</string>
					<key>action</key>
					<string>Extend Full</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Avionics</string>
					<key>action</key>
					<string>ON</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Weather</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Avionics</string>
					<key>action</key>
					<string>OFF</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Lights</string>
					<key>action</key>
					<string>OFF</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Master Switch</string>
					<key>action</key>
					<string>OFF</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Valve</string>
					<key>action</key>
					<string>BOTH</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>item</key>
					<string>Tie-Down</string>
					<key>action</key>
					<string>Remove</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Sump</string>
					<key>action</key>
					<string>Check Fuel</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Quantity</string>
					<key>action</key>
					<string>Measure Fuel</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Tank Cap</string>
					<key>action</key>
					<string>Secure</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Pitot Tube</string>
					<key>action</key>
					<string>Clear</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Vent</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Stall Warning</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Leading Edge</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Wing Tip / Lights</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Aileron</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flap</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Wheel Chock</string>
					<key>action</key>
					<string>Remove</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Left Main Gear, Tire, Brake</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuselage</string>
					<key>action</key>
					<string>Check Rivets &amp; Skin</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>item</key>
					<string>Tail Tie-Down</string>
					<key>action</key>
					<string>Remove</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Horizontal Stabilizer / Elevator</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Vertical Stabilizer / Rudder</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Trim Tab</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Antennas</string>
					<key>action</key>
					<string>Check</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>item</key>
					<string>Fuselage</string>
					<key>action</key>
					<string>Check Rivets &amp; Skin</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flap</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Aileron</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Wing Tip / Lights</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Leading Edge</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Sump</string>
					<key>action</key>
					<string>Check Fuel</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Quantity</string>
					<key>action</key>
					<string>Measure Fuel</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Tank Cap</string>
					<key>action</key>
					<string>Secure</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Tie-Down</string>
					<key>action</key>
					<string>Remove</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Wheel Chock</string>
					<key>action</key>
					<string>Remove</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Left Main Gear, Tire, Brake</string>
					<key>action</key>
					<string>Check</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>item</key>
					<string>Cabin Air Intake</string>
					<key>action</key>
					<string>Secure</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Oil</string>
					<key>action</key>
					<string>5-7 Qts</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Sump</string>
					<key>action</key>
					<string>Check Fuel</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Exhaust Stack</string>
					<key>action</key>
					<string>Check For Cracks</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Windshield &amp; Cowling</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Alternator Belt</string>
					<key>action</key>
					<string>Check Tension</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Propeller / Spinner</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Landing Light</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Induction / Inlet Filter</string>
					<key>action</key>
					<string>Check Clear</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Nose Gear Tire</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Nose Strut</string>
					<key>action</key>
					<string>Check Inflation</string>
				</dict>
				<dict>
					<key>item</key>
					<string>APU Door</string>
					<key>action</key>
					<string>Closed</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Static Port</string>
					<key>action</key>
					<string>Clear</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Final 360 Walkaround</string>
					<key>action</key>
					<string>Check</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>Sections</key>
		<array>
			<string>Before Takeoff</string>
			<string>Normal Takeoff</string>
			<string>Cruise</string>
		</array>
		<key>Items</key>
		<array>
			<array>
				<dict>
					<key>item</key>
					<string>Brakes</string>
					<key>action</key>
					<string>Set</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flight Controls</string>
					<key>action</key>
					<string>Free and Correct</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Fuel Selector</string>
					<key>action</key>
					<string>BOTH</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Trim</string>
					<key>action</key>
					<string>Set For Takeoff</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Mixture</string>
					<key>action</key>
					<string>Adjust for DA</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Power</string>
					<key>action</key>
					<string>1700 RPM</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Ignition - 125 Max/50 Diff</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Carb Heat</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Engine Instruments</string>
					<key>action</key>
					<string>In The Green</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Ammeter</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Vacuum Indicator</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Throttle</string>
					<key>action</key>
					<string>1000 RPM</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flight Instruments</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Heading Indicator</string>
					<key>action</key>
					<string>Set</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Comm / Navs</string>
					<key>action</key>
					<string>Set</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flaps - Short or Soft Field</string>
					<key>action</key>
					<string>Set 10°</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Doors and Windows</string>
					<key>action</key>
					<string>Locked</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Landing Lights</string>
					<key>action</key>
					<string>ON</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Transponder</string>
					<key>action</key>
					<string>Altitude</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Traffic and Clearance</string>
					<key>action</key>
					<string>Check</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>item</key>
					<string>Runway</string>
					<key>action</key>
					<string>Center Aligned</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Throttle</string>
					<key>action</key>
					<string>Full Power</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Instruments</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Rotate</string>
					<key>action</key>
					<string>Vr 55 KIAS 63 MPH</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Climb Speed</string>
					<key>action</key>
					<string>Vy 75 KIAS 85 MPH</string>
				</dict>
				<dict>
					<key>item</key>
					<string>SHORT FIELD</string>
					<key>action</key>
					<string></string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flaps</string>
					<key>action</key>
					<string>Set 10°</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Runway</string>
					<key>action</key>
					<string>End of Runway</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Brakes</string>
					<key>action</key>
					<string>HOLD</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Throttle</string>
					<key>action</key>
					<string>Full Power</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Instruments</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Brakes</string>
					<key>action</key>
					<string>Release</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Rotate</string>
					<key>action</key>
					<string>Vr 52 KIAS 60 MPH</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Climb Speed to 50&apos;</string>
					<key>action</key>
					<string>Vx 59 KIAS 67 MPH</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Climb Speed after 50&apos; 75 KIAS 85 MPH</string>
					<key>action</key>
					<string>Check Rivets &amp; Skin</string>
				</dict>
				<dict>
					<key>item</key>
					<string>SOFT FIELD</string>
					<key>action</key>
					<string></string>
				</dict>
				<dict>
					<key>item</key>
					<string>Flaps</string>
					<key>action</key>
					<string>Set 10°</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Runway</string>
					<key>action</key>
					<string>Aligned</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Starting Roll</string>
					<key>action</key>
					<string>No Brakes, Pitch Up</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Throttle</string>
					<key>action</key>
					<string>Full Power</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Instruments</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Obstacle</string>
					<key>action</key>
					<string>Vx 59 KIAS 67 MPH</string>
				</dict>
				<dict>
					<key>item</key>
					<string>No Obstacle</string>
					<key>action</key>
					<string>Vy 75 KIAS 85 MPH</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>item</key>
					<string>Airspeed</string>
					<key>action</key>
					<string>As Desired</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Power</string>
					<key>action</key>
					<string>Set</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Mixture</string>
					<key>action</key>
					<string>Lean</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Trim For Level Flight</string>
					<key>action</key>
					<string>Set</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Engine Instruments</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Vacuum / Ammeter</string>
					<key>action</key>
					<string>Check</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Heading Indicator</string>
					<key>action</key>
					<string>Reset</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Comm / Navs</string>
					<key>action</key>
					<string>Set if Needed</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
